@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
         local('OpenSans'),
         url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
         local('OpenSans'),
         url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
         url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
}

:root {
    /*COLOURS*/
    --clr-pink:hsl(322, 100%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-100:hsl(193, 100%, 96%);
    --clr-200:hsl(208, 11%, 55%);
    --clr-300:hsl(192, 100%, 9%);

    /*FONTS*/
    --fs-sm:0.875rem;
    --fs-m:1rem;
    --fs-l:1.125rem;
    --fs-xl:1.25rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    max-width: 1600px;
    margin: auto;
}

main {
    background-color: var(--clr-white);
}

h1,h2 {
    font-family: 'Poppins';
    color: var(--clr-300);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.icon {
    width: 45px;
    fill: white;
}
